@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* we can add the regular font-weight here. thats By default */
    font-style: normal;
}

/* Shared Styles -------------------------------*/

.display-flex {
    display: flex;
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-orange {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.text-dark-1 {
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
}

.text-dark-2 {
    color: rgba(66, 66, 66, 1);
    font-size: 1.2rem;
}

.text-dark-3 {
    color: rgba(114, 114, 114, 1); /* To use HEX put # then color code */
    font-size: 1rem;
    line-height: 1.6rem;
}

main , .navbar , .banner {
    max-width: 1440px;
    margin: 0 auto;
}

main > section , footer {
    margin-top: 110px;
}

.gap-30px {
    margin-bottom: 30px;
} 

/* Navbar styles -------------------------------*/

.navbar {
    justify-content: space-between;
    align-items: center;
}

/* Most browsers give <header> a default display: block; and make it stretch the full width of its parent container. If you apply margin: 0 auto; without setting a specific width, it won’t center anything, because there's no space left to create "auto" margins. */
/* Thats why applying MARGIN:0 auto; to the child of <header> separately is better */

/* .navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
} */

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;

}

/* Banner styles ---------------------------------*/

.banner-title {
    color: rgba(19, 19, 19, 1);
    font-size: 4rem;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.width-100 {
    width: 100%; /* Makes the image responsive by letting it take the 100% width space of your parent .banner */
}

/* Teams and Features Styles------------------------- */
.team-image {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 24px;
}
/* Since teams display is flex, if we change align-items here then all child will be vertically aligned */
.teams { 
    align-items: center;
}

.features-content {
    max-width: 530px;
    margin-left: 75px;
}

.quick-list {
    color: rgba(114, 114, 114, 1);
    font-size: 2.8rem;
}

.features {
    color: #FF900E;
    font-size: 2.8rem;
}
/* Feature section-------------------------------------- */
.feature {
    display: flex;
    gap: 100px;
}
.feature-section {
    max-width: 580px;
}

.feature-desc {
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    line-height: 24px;
}

.feature-title {
    font-size: 1.25rem;
    /* font-weight: 600; */
    margin: 10px;
}

.feature-card {
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

#feature-section-title {
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

#feature-btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    margin-left: -70px;
    margin-top: -100px; /* -ve value moves the opposite way */
}

.large-btn-font {
    font-size: 2.8rem;
    font-weight: 700;
}

.small-btn-font {
    font-size: 1.5rem;
    font-weight: 500;
}

/* Facts and Cards Style------------------------------- */
.fact-card {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.card {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-number {
    color: rgba(66, 66, 66, 1);
    font-size: 2.8rem;
    margin: 0;
}

.card-name {
    color: rgba(114, 114, 114, 1);
    font-size: 1.25rem;
}
/* Sponsors Style--------------------------------- */
.sponsor-content {
    max-width: 550px;
    margin: 50px auto; /* margin: 0 auto; wont work alone without max-width of that content. */
    text-align: center;
}

.sponsor-logos {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    /* justify-items: center;
    gap: 150px; */
}

.sponsor-logos img {
    filter: grayscale(100%);
}

/* Footer Style ---------------------------------------*/
.footnote {
    max-width: 1440px;
    margin: auto auto; /*This margin: auto auto; make both height width responsive */
    padding: 20px 0px;
    max-height: 70px;
    background-color: rgba(255, 244, 231, 1);
    font-size: 1.4rem;
    text-align: center;
    /* BEST WAT TO VERTICALLY ALIGN A TEXT IS grid and place-items:center;
    or have to use Flex and align-item:center; */
    /* display: grid; */
    /* place-items: center; */
}

/* MediaQuery for header =========================== */

@media screen and (max-width:576px) {
    .navbar , .nav-link , .teams , .feature{
        flex-direction: column;
    }
    .fact-card , .team-image, .sponsor-logos{
        grid-template-columns: 1fr;
    }
    /* Feature-btn-container Explore More Horizontally center------------ */
    .features-content {
        margin: 10px;
    }
    .btn-container {
        width: fit-content;
        margin: 0 auto;
    }
    .fact-card {
        justify-items: center;
        /* Or */
        /* If the container takes full width then you can use below lines to make it center */
        /* width: fit-content;
        margin: 0 auto; */
        gap: 24px;
    }
    #feature-btn {
        display: block;
        margin: 20px auto;
    }
    .sponsor-logos {
        justify-items: center;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .navbar , .teams , .feature{
        flex-direction: column;
    }
    .facts h1 , p {
        text-align: center;
    }
    .fact-card , .sponsor-logos {
        grid-template-columns: repeat(2 , 1fr);
    }
    .fact-card , .sponsor-logos {
        justify-items: center;
    }
    .features-content h3{
       text-align: center;
    }
    #feature-btn {
        margin: 0px;
    }
    .btn-container {
        width: fit-content; /* width can be either fit-content or equal to button-width */ 
        margin: 0 auto;
    }
    .feature-section {
        /* feature-section width was declared before, thats why not needed here */ 
        margin: 0 auto;
    }
}
